# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore temporary files from editors
*.swp
*.swo
*~

# Ignore system files
.DS_Store

# Ignore virtual environments
env/
venv/

# Ignore compiled Python files
__pycache__/

# Ignore large files
*.log
*.bak
